
<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third box-pad">
      <h1 class="title has-text-centered">Typing Challenge</h1>
      
      <p class="has-text-centered text">
        <span 
          [class]="compareLetters(el, enteredText[i])"
          *ngFor="let el of randomText.split(''); let i = index;"
        >{{ el }}</span>
      </p>
      
      <div class="field">
        <input 
          class="input"
          spellcheck="false" 
          (input)="onInputChange($event)"
        />
      </div>
      
      <div class="box has-text-centered" *ngIf="isSuccess">
        <h4 class="title is-4">{{ displayWord }}</h4>
        Your Time: {{ displayTime }}
      </div>
    </div>
  </div>
</div>